<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% 
        var ran = Math.floor(Math.random()*3 +1) 

    %> 
    <h1> fraud game</h1>
    <br>
    <h3> rule : one - win , two - lot </h3>
    <br>
    
    <a href="fraudPro?select=1&ran=<%=ran%>">choose 1</a>
    <br>
    
    <a href="fraudPro?select=2&ran=<%=ran%>">choose 2</a>
    <br>
    
    <a href="fraudPro?select=3&ran=<%=ran%>">choose 3</a>
    <br>
    <br>


    <a href="main">return</a>
</body>
</html>