<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <table  border= "2">
                <tr align="center">
                    <td>
                        <h1>데이터 전달방법 url</h1>

                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="tags">a and button tags</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        <a href="fraud">fraud game</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        <a href="operate">operate game</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    </td>
                </tr>
        </table>
</div>
</body>
</html>