<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align ="center">
        <table border="1">
            <tr align="center">
                <td>
                    <h2>request basic</h2>
                </td>
            </tr>
            <tr align="center">
                
                <td width="600px">
                    <a href="formTest">폼 기본</a>
                    <a href="oddEven">짝수 홀수</a>
                    <a href="compareNumber">숫자비교</a>
                    <a href="score">합격</a>
                    <a href="maxNumber">가장 큰수</a>

                </td>
            </tr>
        </table>
    </div>
</body>
</html>