
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<% 
    var msg= " "
    if (result =="up" && ran > 6){
        msg = "정답"}
    else if (result =="down" && ran < 6){
        msg = "정답" }
    else{
        msg ="오답"
    } 
    
%> 

    <h1>updown answer page</h1>
    random number :<%=ran%>
<br>
    choice : <%= result %>
    <br>

    <h1> it is <%=msg %></h1>
    <br>
       
       <a href="main">돌아가기</a>
</body>
</html>