<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
		<h1>수정하기</h1>
	
            <form action="scoreUpdatePro"> 
            <!-- 값을 수정하고 다른 페이지로 넘어가는게 아니라 여기서 바로 수정을 함! -->
                
                <p><%= scoreDB[index] %>의 값을 수정합니다.</p>
                수정할 값 입력 : <input type="number" name="updateNumber">
                <!-- 바뀔 값을 넣고 서버에서 새로운 변수로 선언해줘야한다 -->

                <input type="hidden" name="index_2" value="<%= index %>">
                    <!-- i번째 값만 수정하는 경우므로 i(=index)를 히든으로 보냄
                    [히든]
                    hidden 속성값은 입력받지 않은 데이터를 보낼 때 유용하게 쓰인다.
                    -->
                <input type="submit" value="수정하기">
            </form>
            
            <br><br>
            <a href="scoreListAll">리스트로 돌아가기</a>
	</div>
</body>
</html>